// _colors.scss

// Paleta de colores
$color-primary: #333;
$color-secondary: #6C733D;
$color-background: #b4bcad;
$color-text: #464646;
$color-text-light: #ffffff;
$color-border: #ccc;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-hover: #3c4b41;
$color-dark: #313131;

// Otros colores
$color-black: rgb(0, 0, 0);
$color-gray: rgb(54, 59, 76);
$color-green: #007700;
