.promociones {
    padding: 2rem;
    text-align: center;
    background-color: #2F3645;
    color: #ffffff;
}

.promociones h2 {
    margin-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}
