// Colores
$background-color: #9DA65D;
$header-background-color: #ffffff;
$search-background-color: #ffffff;
$hero-text-background: rgba(0, 0, 0, 0.5);
$promociones-background-color: #2F3645;
$primary-color: #333;
$secondary-color: #b4bcad;
$light-color: #ffffff;
$dark-color: #313131;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$box-shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 5px 10px 10px rgba(0, 0, 0, 0.2);
$border-radius-small: .3125rem;
$border-radius-medium: .625rem;
$border-radius-large: 10px;

// Tamaños
$input-width: 15.625rem;
$product-width: 22%;
$ropa-width: 22%;

// Fuentes
$font-family: Arial, Helvetica, sans-serif;
